# PostgreSQL database connection string (Supabase / Neon / Managed Postgres)
DATABASE_URL="postgresql://postgres:password@localhost:5432/asset_lending?schema=public"
DIRECT_URL="postgresql://postgres:password@localhost:5432/asset_lending?schema=public"

# NextAuth.js secret key
NEXTAUTH_SECRET="your-random-nextauth-secret-key-32-chars"
NEXTAUTH_URL="http://localhost:3000"
